.file-upload-container {
    width: 600px;
    display: flex;
    justify-content: center;
}

.component-container {
    display: flex;
    justify-content: center;
}

.message-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.selector {
    z-index: 9997;
}