.header {
    text-align: center;
}

.sub-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.component-container {
    display: flex;
    justify-content: center;
}

.form-selector {
    margin-bottom: 15px;
    z-index: 9997;
}

.selector {
    width: 400px;
    z-index: 9996;
}

.logo-container {
    display: flex;
    justify-content: center;
}