.header {
    text-align: center;
}

.sub-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.file-upload-container {
    width: 600px;
    display: flex;
    justify-content: center;
}

.component-container {
    display: flex;
    justify-content: center;
}

.picture-container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.message-container {
    width: 100%;
    display: flex;
    justify-content: center;
}